@page "/nasigorengs/create"
@using Microsoft.EntityFrameworkCore
@using NasiGorengBlazor.Models
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>NasiGoreng</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="NasiGoreng" OnValidSubmit="AddNasiGoreng" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nama" class="form-label">Nama:</label> 
                <InputText id="nama" @bind-Value="NasiGoreng.Nama" class="form-control" /> 
                <ValidationMessage For="() => NasiGoreng.Nama" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="bahan" class="form-label">Bahan:</label> 
                <InputText id="bahan" @bind-Value="NasiGoreng.Bahan" class="form-control" /> 
                <ValidationMessage For="() => NasiGoreng.Bahan" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="harga" class="form-label">Harga:</label> 
                <InputNumber id="harga" @bind-Value="NasiGoreng.Harga" class="form-control" /> 
                <ValidationMessage For="() => NasiGoreng.Harga" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/nasigorengs">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private NasiGoreng NasiGoreng { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddNasiGoreng()
    {
        using var context = DbFactory.CreateDbContext();
        context.NasiGorengs.Add(NasiGoreng);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/nasigorengs");
    }
}
