@page "/list-nasi-goreng"
@using NasiGorengBlazor.Services
@using NasiGorengBlazor.Models
@inject NasiGorengService NasiGorengService

<h3>Daftar Nasi Goreng</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Bahan</th>
            <th>Harga</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in nasiGorengList)
        {
            <tr>
                <td>@item.Nama</td>
                <td>@item.Bahan</td>
                <td>@item.Harga</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<NasiGoreng> nasiGorengList = new();

    protected override async Task OnInitializedAsync()
    {
        nasiGorengList = await NasiGorengService.GetAllAsync();
    }
}
